@page "/signed-out"

<PageTitle>Signed Out</PageTitle>

<h1>Signed out</h1>

<p>You have been signed out successfully.</p>
<p>
    <a class="btn btn-primary" href="/">Return Home</a>
    <a class="btn btn-outline-secondary ms-2" href="/account/login">Sign in again</a>
</p>
